/xsize.h
/wprintf-parse.h
/version.c
/vasnwprintf.h
/vasnprintf.h
/vasnprintf.c
/tsearch.h
/tsearch.c
/threadlib.c
/textdomain.c
/setlocale.c
/relocatable.h
/relocatable.c
/ref-del.sin
/ref-add.sin
/printf.c
/printf-parse.h
/printf-parse.c
/printf-args.h
/printf-args.c
/plural.y
/plural.c
/plural-exp.h
/plural-exp.c
/osdep.c
/os2compat.h
/os2compat.c
/ngettext.c
/log.c
/lock.h
/lock.c
/localename.c
/localealias.c
/locale.alias
/localcharset.h
/localcharset.c
/loadmsgcat.c
/loadinfo.h
/libintl.rc
/libgnuintl.h.in
/langprefs.c
/l10nflist.c
/intl-exports.c
/intl-compat.c
/hash-string.h
/hash-string.c
/gmo.h
/gettextP.h
/gettext.c
/finddomain.c
/export.h
/explodename.c
/eval-plural.h
/dngettext.c
/dgettext.c
/dcngettext.c
/dcigettext.c
/dcgettext.c
/config.charset
/bindtextdom.c
/VERSION
/Makefile.in
/ChangeLog
